<% include header %>

<header>
    <h1 id="maintitle">CandyShop</h1>
    <h2 id="undertitle">The Online Shop</h2>
    <a href="yourmusicfile.mp3">Play Candy Shop - 50 Cent</a>
</header>

<div class="wrapper">

    <nav>
        <input id="searchbar" class="form-control" type="text" placeholder="search product" style="width: 100%;">
    </nav>

    <main>
        <div id="product_list">



        </div>
    </main>

</div>




<% include logic %>
<% include footer %>