<table style="border-radius: 20px;">
    <tr>
        <td rowspan="3">
            <span id="product_pic" style="margin-left: 20px;"><img src="images/knoppers.jpg" style="border: 1px solid black;" width="230" height="140"></span>
        </td>
        
        <td style="width: 50%;">
            <tr>
                <td style="width: 70%;"><span id="product_name" class="display-4">Knoppers</span></td>
                <td style="width: 30%;"><span id="product_price" class="font-weight-bolder" style="font-size: 40px;">1,50 €</span></td>
            </tr>
            <tr>
                <td style="width: 50%;"><span id="product_weight" class="font-italic" style="font-size: 20px;">22 g</span></td>
                <td style="width: 50%;"><input id="warenkorb_button" class="btn btn-primary" type="button" value="In Warenkorb"></td>
            </tr>
        </td> 
    </tr> 
</table>